
<% if @applied_report!=[] %>  
  <% @applied_report.each do |ar| %>
    <%= link_to_user ar.user %>, <%= format_date ar.date %> <%= ar.audit ? l(:user_has_already_audit_period) : l(:user_has_already_agreed_period) %><br/>
  <% end %>
  <span class="selected"> </span>
<% else %>
  <%= link_to l(:text_are_you_sure), {:controller => "kpi_period_users", :action => "reopen", :id => @period_user.id}, :class => 'icon reopen_period' %>
<% end %>