<h2><%=l(:label_kpi_marks)%></h2>

<%= render :partial => 'kpi/period_links' %>

<div id="kpi_marks">
<%= render :partial => 'kpi/marks_form' %>
</div>

<%= render :partial => 'kpi/sidebar' %>
