<div class="contextual">
<%= link_to l(:label_kpi_patterns_new), new_kpi_pattern_path, :class => 'icon icon-add' %>
</div>

<h2><%=l(:label_kpi_patterns)%></h2>

<%= render :partial => 'kpi/sidebar' %>