#kpi_matrix
	{
	width: auto;
	margin: 10px 0px 0px 182px;
	}

#kpi_matrix input
	{
	width: 60px;
	}

table tr.red
	{
	background-color: #FCF7ED; 	
	}
table tr.green
	{
	background-color: #f1fbec; 	
	}
table tr.disabled
	{
	background-color: #EBEBEB; 	
	}
table tr.blue
	{
	background-color: #e6f1f9;
	}

table.indicators td, table.patterns td
	{
	padding: 4px;
	}

table.indicators tr.active
	{
	background-color: #F1FBEC;
	}
table.indicators tr.locked
	{
	background-color: #FCF7ED;
	}

table.patterns tr.warning
	{
	text-align: left;
	}


input#indicators_search {
	background: url(../images/magnifier.png) no-repeat 2px 50%;
	padding-left: 20px;
	border: 1px solid #9EB1C2;
	height: 1.5em;
	width: 95%;
	}

div#tab-content-indicators fieldset div, #tab-content-apply_to fieldset div {
	max-height: 400px;
	overflow: auto;
	}


#tab-content-apply_to .splitcontentleft {
	width: 64%;
	}
div#tab-content-indicators .splitcontentright, #tab-content-apply_to .splitcontentright {
	width: 34%;
	}
div#tab-content-indicators fieldset legend {
	font-weight: bold;
	}
div#tab-content-indicators fieldset label, #tab-content-apply_to fieldset label {
	display: block;
	}

input#principal_search, input.user_search {
	background: url(../images/magnifier.png) no-repeat 2px 50%;
	padding-left: 20px;
	border: 1px solid #9EB1C2;
	height: 1.5em;
	width: 95%;
	}


table.indicators td.weight input, input.weight
	{
	width: 25px;
	}

td.fact_value input, input.fact_value
	{
	width: 120px;
	}

tr.not_integrity
	{
	background-color: #FFEBC1;
	}

div.kpi_inspector
	{
	margin: 10px 0px 5px 0px;
	}

input.completed, select.completed, textarea.completed
	{
	background-color: #E7FAE3
	}

.kpi_date_links
	{
	margin: 0px 0px 5px 0px;
	overflow: hidden;
	}


.kpi_date_links a
	{
	display: block;
	padding: 3px;
	float: left;
	}

.kpi_date_links a.current
	{
	padding: 2px;
	}
.kpi_date_links span.arr
	{
	float: left;
	display: block;
	margin: 1px 5px 0px 5px;
	}

span.arr
	{
	font-size: 14pt;
	}

table.list tbody tr.kpi_cat td
	{
	font-weight: bold;
	background-color: #f7f7f7;
	}

table.list tbody tr.kpi_indicator.green td
	{
	background-color: #DFF0E0;
	}

th.narrow
	{
	width: 1%;
	}

table.kpi_calc tr td.inspector
	{
	padding-left: 30px;	
	}

span.value
	{
	padding-left: 6px;
	margin-right: 20px;
	}

span.value.minus
	{
	padding-left: 0px;	
	}

span.unit
	{
	font-weight: normal;
	font-size: 0.8em;
	color: #c2c2c2;
	float: right;
	margin-left: -20px;
	}

.kpi_factor
	{
	text-align: right;
	font-size: 2em;
	}

input#applied_user_search.ajax-loading {
background-image: url(../images/loading.gif);
}

textarea.expl_warning
	{
	background-color: #FFF0F0;
	}

a.add_indicator
	{
	background-image: url(../images/add_indicator.png);
	margin-right: 5px;
	}
a.add_pattern
	{
	background-image: url(../images/pattern.png);
	margin-right: 5px;
	}
a.add_period
	{
	background-image: url(../images/add_period.png);
	}
a.activate_period
	{
	background-image: url(../images/activate_period.png);
	margin-right: 5px;
	}
a.close_period
	{
	background-image: url(../images/close_period.png);
	margin-right: 5px;
	}
a.reopen_period
	{
	background-image: url(../images/unlock_period.png);
	margin-right: 5px;
	}


.H, .h
	{
	overflow: hidden;
	}
.L, .l
	{
	float: left;
	}
.R, .r
	{
	float: right;
	}

#select_period_date {
	font-size: 1.2em;
	padding-right: 15px;
	margin-top: -2px;
	
	}
#select_period_date select{
	text-transform: capitalize;
	}

div.left_form_part
	{
	width: 49%;
	min-width: 450px;
	margin: 0px 5px 0px 0px;
	}
div.right_form_part
	{
	width: 49%;
	min-width: 680px;
	margin: 0px 0px 0px 5px;
	}

div.mark_chart
	{
    min-width: 400px; 
    height: 400px;
    float: left;
    border-right: 1px solid #ccc;
    padding: 0px 10px 0px 0px;
    margin: 10px;	
	}

div.indicator_percent_desc
    {
    min-width: 300px;
    max-width: 550px;
    padding: 10px 0px 0px 0px;
    font-size: 10pt;
    font-family: 'Lucida Grande', Verdana;
    }   
div.indicator_percent_desc div.caption
    {
    font-size: 12pt;
    font-family: Arial;
    color: #575757;
    padding: 10px 0px 0px 0px;
    }

div.indicator_percent_desc ul
    {
    margin: 10px 0px 0px 0px;
    padding-left: 15px;
    }
.plan_on_chart
	{
	background-color: #2e8518;
	padding: 1px;
	color: white;
	font-weight: bold;
	font-size: 8pt;
	}
.fact_on_chart
	{
	background-color: #ff0000;
	padding: 1px;
	color: white;
	font-weight: bold;
	font-size: 8pt;
	}
div.issues_in_calc
	{
	overflow: auto;
	height: 161px;
	}

ul.folding_tree li.opened
	{
	list-style-image: url(../images/minus.gif);
	}
ul.folding_tree li.closed
	{
	list-style-image: url(../images/plus.gif);
	}

ul.folding_tree li.disc
	{
	list-style-image: none;
	}

ul.folding_tree.opened
	{
	display: block;
	}
ul.folding_tree.closed
	{
	display: none;
	}


ul.folding_tree li
	{
	list-style-type: disc;	
	}



